.swiper {
    width: 100%;
    padding-top: 30px;
}

.swiper-slide {
    width: 400px;
    min-height: 200px;
    border-radius: 10px;
    background-image: linear-gradient(rgb(226, 226, 226), rgb(255, 255, 255), rgb(226, 226, 226));
}